<div class="page-header"><h1>Edit book</h1></div>

<% form_for(book, {action: path_to.book(book), method: 'PUT', id: "book_form", class: 'form-horizontal'}, function (form) { %>
    <%- partial('books/form.ejs', {locals: {form: form, book: book}}) %>
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Update book', {class: 'btn btn-primary'}) %> or
        <%- link_to('Cancel', path_to.book(book), {class: 'btn'}) %>
    </div>
<% });%>