<div class="page-header">
    <h1>New chapter</h1>
</div>

<% form_for(chapter, {action: path_to.book_chapters(params.book_id), method: 'POST', id: "chapter_form", class: 'form-horizontal'}, function (form) { %>
    <%- partial('chapters/form.ejs', {locals: {form: form, chapter: chapter}}) %>
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Create chapter', {class: 'btn btn-primary'}) %> or
        <%- link_to('Cancel', path_to.book_chapters(params.book_id), {class: 'btn'}) %>
    </div>
<% });%>
